<?xml version="1.0" encoding="UTF-8"?>
<server description="${project.artifactId}">

    <featureManager>
        <feature>localConnector-1.0</feature>
        <feature>cdi-2.0</feature>
        <feature>jsp-2.3</feature>
        <feature>mpConfig-1.3</feature>
        <feature>jaxrsClient-2.1</feature>
        <feature>jsonp-1.1</feature>
        <feature>transportSecurity-1.0</feature> <!-- enable SSL, see https://www.ibm.com/support/knowledgecenter/SSEQTP_liberty/com.ibm.websphere.wlp.doc/ae/twlp_sec_ssl.html -->
    </featureManager>
    
    <keyStore id="defaultKeyStore" location="${project.basedir}/../key.p12" password="initial" />
  	<ssl id="defaultSSLConfig" keyStoreRef="defaultKeyStore" trustStoreRef="defaultKeyStore" trustDefaultCerts="true"/>

    <httpEndpoint id="defaultHttpEndpoint" host="*" httpPort="${httpPort}" httpsPort="${httpsPort}"/>

    <!-- added <httpDispatcher> to quirky redirect to the app when invoking root context. Alternative: do not use dropins, but server.xml. See https://stackoverflow.com/questions/39749109/modify-default-context-root-in-websphere-liberty-error-cwwkz0013e -->
    <!-- application type="war" location="${project.build.directory}/${project.build.finalName}.war" context-root="/"/-->
    <httpDispatcher enableWelcomePage="false" appOrContextRootMissingMessage='&lt;script&gt;document.location.href="/client/";&lt;/script&gt;'></httpDispatcher>
    
    
    <!-- applicationManager autoExpand="true"/-->
    <!-- applicationMonitor updateTrigger="mbean"/-->
	<!-- applicationMonitor updateTrigger="polled" pollingRate="2s"/-->
    <!--  dropins="dropins" dropinsEnabled="true"/-->
</server>
